{% extends 'baseadmin.html' %}

{% block content %}

<h1>Hello Administrator</h1>
<div class="row">

    <div class="col">
        <div class="card" style="width: 18rem;">
            <img alt="..." class="card-img-top" src="https://images.pexels.com/photos/95916/pexels-photo-95916.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
            <div class="card-body">
                <h5 class="card-title">Reports</h5>

                <p class="card-text">Scanned and modified reports</p>
                <a class="btn btn-primary" href="#">Reports</a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card" style="width: 18rem;">
            <img alt="..." class="card-img-top" src="https://images.pexels.com/photos/1106468/pexels-photo-1106468.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
            <div class="card-body">
                <h5 class="card-title">Academic Coursework</h5>

                <p class="card-text">Modified Academic Achievements</p>
                <a class="btn btn-primary" href="">Review Attendance</a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card" style="width: 18rem;">
            <img alt="..." class="card-img-top" src="https://images.pexels.com/photos/356065/pexels-photo-356065.jpeg?auto=compress&cs=tinysrgb&w=400">
            <div class="card-body">
                <h5 class="card-title">Courses and Departments</h5>

                <p class="card-text">Courses and Departments</p>
                <a class="btn btn-primary" href="courses.html">Courses and Departments</a>
            </div>
        </div>
    </div>


    <div class="col mt-4">
        <div class="card" style="width: 18rem;">
            <img alt="..." class="card-img-top" src="https://images.pexels.com/photos/1111368/pexels-photo-1111368.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
            <div class="card-body">
                <h5 class="card-title">Communication Channel</h5>

                <p class="card-text">Channel of communication to various parties</p>
                <a class="btn btn-primary" href="newsletter">email</a>
            </div>
        </div>
    </div>

    <div class="col mt-4">
        <div class="card" style="width: 18rem;">
            <img alt="..." class="card-img-top" src="https://images.pexels.com/photos/783737/pexels-photo-783737.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
            <div class="card-body">
                <h5 class="card-title">Examinations</h5>

                <p class="card-text">Access to Details pertaining exams</p>
                <a class="btn btn-primary" href="#">Exams</a>
            </div>
        </div>
    </div>

    <div class="col mt-4">
        <div class="card" style="width: 18rem;">
            <img alt="..." class="card-img-top" src="https://images.pexels.com/photos/6408282/pexels-photo-6408282.jpeg?auto=compress&cs=tinysrgb&w=400">
            <div class="crda-body">
                <h5 class="card-title">Timetables</h5>

                <p class="card-text">Assign classes to lecturers</p>
                <a class="btn btn-primary" href="timetable.html">Timetable</a>
            </div>
        </div>
    </div>

 </div>

{% endblock %}


